  <%= render "layouts/banner5_livredor" %>


  <div class="card-description">
    <ul class="barre barre-pills barre-justified">
     <li><a href="home"><%= image_tag("home.png", alt: 'home',) %></a></li>
     <li><a href="accueil"><%= image_tag("accueil.png", alt: 'accueil',) %></a></li>
     <li><a href="concept"><%= image_tag("concept.png", alt: 'concept.png',) %></a></li>
     <li><a href="activite"><%= image_tag("activite.png", alt: 'Activités',) %></a></li>
     <li class='active'><a href="livredor"><%= image_tag("livredor.png", alt: 'livredor',) %></a></li>
   </ul>
 </div>

  <p class="notice"><%= notice %></p>
<div class="card-description">
  <div class="card-distributed">
      <h2><strong><u>Vos messages</u></strong></h2>
    <div class="card-index">
      <table>
        <tr>
          <th class="name">Parents</th>
          <th>Enfant</th>
          <th>Année</th>
          <th>message</th>
        </tr>
        <tr>

          <%@tasks.each do |task| %>
            <%if task.status == true %>
              <td><%=task.name%></td>
              <td><%=task.child_name%></td>
              <td><%=task.promotion%></td>
              <td ><%=task.description %></td>
            </tr>
        <% end %>
        <% end %>
     </table>
   </div>
<div class="card-index-centered-button">
   <%= link_to "Nouveau message", livredornew_path, class: "button"%>
</div>

 </div>
</div>
