  <%= render "layouts/banner5_livredor" %>


  <div class="card-description">
    <ul class="barre barre-pills barre-justified">
     <li><a href="home"><%= image_tag("home.png", alt: 'home',) %></a></li>
     <li><a href="accueil"><%= image_tag("accueil.png", alt: 'accueil',) %></a></li>
     <li><a href="concept"><%= image_tag("concept.png", alt: 'concept.png',) %></a></li>
     <li><a href="activite"><%= image_tag("activite.png", alt: 'Activités',) %></a></li>
     <li class='active'><a href="tasks"><%= image_tag("livredor.png", alt: 'livredor',) %></a></li>
   </ul>
 </div>
<div class="card-description">
  <div class="card-distributed">
      <h2>Vos messages </h2>
    <div class="card-index">
      <table>
        <tr>
          <th class="name">Parents</th>
          <th>Enfant</th>
          <th>Message</th>
          <th>edit</th>

        </tr>
        <tr>
          <%@tasks.each do |task| %>
          <td><%=task.name%></td>
          <td><%=task.child_name%></td>
          <td ><%=task.description %></td>
          <td><%= link_to "édit", edit_task_path(task.id) %> </td>
        </tr>

        <% end %>
     </table>
   </div>

   <%= link_to "Nouveau message", new_task_path %>
 </div>
</div>
