      <div class="card-description">
        <ul class="barre barre-pills barre-justified">
          <li><a href="home">Home</a></li>
          <li><a href="accueil">Accueil</a></li>
          <li><a href="concept">Concept</a></li>
          <li class='active'><a href="activite">Activités</a></li>
        </ul>
      </div>

       <div class="card-description">
         <div class="image-carousel">
            <div class="inner">
            <%= image_tag("1.jpg", alt: '1',) %>
            <%= image_tag("2.jpg", alt: '2',) %>
            <%= image_tag("3.jpg", alt: '3',) %>
            <%= image_tag("4.jpg", alt: '4',) %>
            <%= image_tag("5.jpg", alt: '5',) %>
            </div>
            <div class="bubbles"></div>
            <div class="prev"></div>
            <div class="next"></div>
        </div>

      </div>
<div class="card-description">
        <div class="card-distributed">
          <h2><strong><u>Nos atouts :</u></strong></h2>
           <div class="card-activite-down">
            <ul>
              <li> activités d’expression corporelle et d’expression orales (apprentissage de la langue Luxembourgeoise) :
                <p>De fait, la communication est extrêmement importante, comme en témoigne la citation de Françoise Dolto : </p>
                <p><i>« Il faut parler aux enfants. Il faut parler aux enfants dès qu’ils naissent. Il faut leur parler comme à des adultes, il ne faut pas leur parler bébé. Il faut leur parler un langage articulé, il faut s’adresser à eux en partant de l’idée qu’ils nous comprennent et qu’ils vont faire quelque chose de ce qu’on leur dit.»</i></p></li>
              <li>le jeu libre occupe une place primordiale pour le développement de l’enfant.</li>
              <li>Tout est compris : les langes, lingettes…ne sont pas facturés.</li>
              <li>activités pour le développement sensoriel et créatif
                <ul>
                  <li> Comme le bricolage, pâte à modeler : toucher, créer et regarder</li>
                  <li> Comme la musique : éveil musical promouvoir l’esprit d’équipe et la créativité</li>
                  <li>comme la peinture et le dessin : promouvoir la créativité et l’expression des émotions</li>
                  <li>activités pour le développement moteur comme baby-gym, animer des marionnettes…</li>
                  <li>comme cuisiner, sentir les ingrédients, goûter et toucher les préparations</li>
                </ul>
              </li>
              <li>Pactivités extérieures comme les promenades, jeux en plein air…</li>
              </ul>
          </div>
        </div>
      </div>

