<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li class="bébé"><%= image_tag("logo.png", alt: 'Krabbelstuff logo',)%></li>

          </ul>
        </div>
        <div id="banner-right-act" >
          <div class="carousel-data">
            <ul >

              <li><%= image_tag("act1.jpg", alt: '1') %></li>
              <li><%= image_tag("act2.jpg", alt: '1') %></li>
              <li><%= image_tag("act3.jpg", alt: '1') %></li>
              <li><%= image_tag("act4.jpg", alt: '1') %></li>
              <li><%= image_tag("act5.jpg", alt: '1') %></li>
              <li><%= image_tag("act6.jpg", alt: '1') %></li>
              <li><%= image_tag("act7.jpg", alt: '1') %></li>
              <li><%= image_tag("act8.jpg", alt: '1') %></li>
              <li><%= image_tag("act9.jpg", alt: '1') %></li>
              <li><%= image_tag("act10.jpg", alt: '1') %></li>
              <li><%= image_tag("act11.jpg", alt: '1') %></li>
              <li><%= image_tag("conc9.jpg", alt: '1') %></li>

            </ul>
          </div>

          <div class="carousel-wrapper">
            <div class="carousel-image-title">
              <div class="carousel-image"><img src="" alt="" />
              </div>
            </div>
            <div class="carousel-nav"></div>
          </div>
        </div>
      </div>
    </div>


