<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li class="bébé"><%= image_tag("logo.png", alt: 'Krabbelstuff logo',)%></li>

          </ul>
        </div>
        <div id="banner-right" >
          <div class="carousel-data">
            <ul>

              <li><%= image_tag("conc3.jpg", alt: '1') %></li>
              <li><%= image_tag("conc4.jpg", alt: '1') %></li>
              <li><%= image_tag("conc5.jpg", alt: '1') %></li>
              <li><%= image_tag("conc6.jpg", alt: '1') %></li>
              <li><%= image_tag("conc7.jpg", alt: '1') %></li>
              <li><%= image_tag("conc8.jpg", alt: '1') %></li>
              <li><%= image_tag("conc9.jpg", alt: '1') %></li>
              <li><%= image_tag("conc10.jpg", alt: '1') %></li>
              <li><%= image_tag("conc11.jpg", alt: '1') %></li>
              <li><%= image_tag("conc12.jpg", alt: '1') %></li>
              <li><%= image_tag("conc13.jpg", alt: '1') %></li>
              <li><%= image_tag("act12.jpg", alt: '1') %></li>
             </ul>
          </div>

          <div class="carousel-wrapper">
            <div class="carousel-image-title">
              <div class="carousel-image"><img src="" alt="" />
              </div>
            </div>
            <div class="carousel-nav"></div>
          </div>
        </div>
      </div>
    </div>


