<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li class="bébé"><%= image_tag("logo.png", width:'100%', alt: 'Krabbelstuff logo',)%></li>

          </ul>
        </div>

        <div id="banner-right" >
          <div class="image-carousel">
            <div class="inner">
              <%= image_tag("photo_groupe1.jpg", alt: '1',) %>
              <%= image_tag("photo_groupe2.jpg", alt: '2',) %>
              <%= image_tag("photo_groupe3.jpg", alt: '3',) %>
              <%= image_tag("photo_groupe4.jpg", alt: '4',) %>
              </div>
            <div class="bubbles"></div>
            <div class="prev"></div>
            <div class="next"></div>
          </div>
        </div>
      </div>
    </div>
