<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li>
              <%= image_tag("logo modifié meme propo2.png", width: '100%', alt: 'Krabbelstuff logo',) %> </li>
            <li> <%= image_tag("texte_creche.png", width: '50%', alt: 'texte creche',) %></li>
          </ul>
        </div>
        <div id="banner-right" >
          <div class="image-carousel">
            <div class="inner">
              <%= image_tag("1.jpg", alt: '1',) %>
              <%= image_tag("2.jpg", alt: '2',) %>
              <%= image_tag("3.jpg", alt: '3',) %>
              <%= image_tag("4.jpg", alt: '4',) %>
              <%= image_tag("5.jpg", alt: '5',) %>
            </div>
            <div class="bubbles"></div>
            <div class="prev"></div>
            <div class="next"></div>
          </div>
        </div>
      </div>
    </div>
