<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li class="bébé"><%= image_tag("logo3.png", alt: 'Krabbelstuff logo')%></li>

          </ul>
        </div>
        <div id="banner-right" >
          <div class="carousel-data">
            <ul>
              <li><%= image_tag("acc1.jpg", alt: '1') %></li>
              <li><%= image_tag("acc2.jpg", alt: '1') %></li>
              <li><%= image_tag("acc3.jpg", alt: '1') %></li>
              <li><%= image_tag("acc4.jpg", alt: '1') %></li>
              <li><%= image_tag("acc5.jpg", alt: '1') %></li>
              <li><%= image_tag("acc6.jpg", alt: '1') %></li>
              <li><%= image_tag("acc7.jpg", alt: '1') %></li>
            </ul>
          </div>

          <div class="carousel-wrapper">
            <div class="carousel-image-title">
              <div class="carousel-image"><img src="" alt="" />
              </div>
            </div>
            <div class="carousel-nav"></div>
          </div>
        </div>
      </div>



